[Unit]
Description=Local LogTime
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/logtime.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
